@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-gray-50 text-black dark:text-white dark:bg-black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wrapper {
  @apply container mx-auto;
}

.content {
  @apply flex flex-row gap-4 ;
}

.results {
  @apply w-4/12;
}

.tasks {
  @apply flex-grow flex flex-col gap-4;
}

.estimates {
  @apply flex flex-row gap-4 justify-stretch pt-5;
}

.input {
  @apply flex flex-col;
}

.estimates .input {
  @apply w-full;
}

.task > input[type=text] {
  @apply text-xl p-2 border border-gray-300 dark:border-gray-600 dark:bg-zinc-900 rounded w-full dark:text-white;
}

.task {
  @apply pb-4 rounded border-b-2 border-b-gray-300 dark:border-b-gray-600;
}

input[type=text], input[type=number] {
  @apply p-2 border border-gray-300 dark:border-gray-600 dark:bg-zinc-900 rounded dark:text-white;
}

button {
  @apply p-2 bg-slate-500 hover:bg-slate-600 text-white dark:hover:bg-slate-700 dark:bg-slate-800 dark:text-white rounded;
}

.card {
  @apply border border-gray-300 dark:border-gray-600 rounded p-2;
}

.results {
  @apply flex flex-col gap-4;
}

.progress {
  @apply w-full p-2 dark:bg-zinc-900 rounded;
}

.bar {
  @apply h-4 rounded;
}

.display-number {
  @apply text-4xl font-bold text-black dark:text-slate-400;
}